.featured {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 400px;
    min-height: 100%;
}

.featured__link {
    width: 100%;
    height: 100%;
}

.featured__control {
    cursor: pointer;
    height: min-content;
    user-select: none;
}

.featured__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured__title {
    display: none;
}

@media only screen and (max-width: 1380px) {
    .featured {
        width: 100%;
        height: 500px;
        margin-bottom: 32px;
    }

    .featured__title {
        display: block;
        margin-bottom: -35px;
    }

    .featured__control {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .featured {
        height: 300px;
    }

    .featured__title {
        margin-bottom: -15px;
    }
}
