---
const links = [
    {
        title: "Projects",
        link: "/projects",
    },
    {
        title: "Experience",
        link: "/experience",
    },
];
---

<header class="header">
    <a href="/">Lava</a>
    <nav>
        <ul class="header__menu">
            <li class="header__link--hover">
                <a class="header__menu-link" href="/projects">Projects</a>
            </li>
            <li class="header__link--hover">
                <a class="header__menu-link" href="/experience">Experience</a>
            </li>
        </ul>
    </nav>
    <a
        class="header__contact-link header__link--hover"
        href="mailto:hello@lavam.dev">hello@lavam.dev</a
    >
</header>
