---
import Main from "../layouts/Main.astro";
---

<Main title="About">
  <div class="about">
    <div class="about__title-container">
      <h1 class="about__title">about</h1>
    </div>
    <div class="about__texts">
      <div class="about__text-wrapper">
        <p id="about-text-1" class="about__text">
          Hello, I'm Mathieu Lava, and my journey in web development began with
          a lifelong passion for computers. From dismantling PCs with my uncle
          to exploring the boundless world of web technology, my love for this
          field has been a constant.
        </p>
      </div>
      <div class="about__text-wrapper">
        <p id="about-text-2" class="about__text">
          In February 2022, I stepped into web development as a freelance
          front-end developer alongside my studies, gaining valuable experience
          and honing my skills.
        </p>
      </div>
      <div class="about__text-wrapper">
        <p id="about-text-3" class="about__text">
          As my journey continued, in January 2023, I co-founded loak.studio in
          pursuit of crafting innovative digital solutions. We had the privilege
          of collaborating with exceptional companies in the Belgian ecosystem,
          including Botalys and REDSYSTEM. Together, we created remarkable
          websites that not only met but exceeded their digital needs and
          aspirations.
        </p>
      </div>
      <div class="about__text-wrapper">
        <p id="about-text-4" class="about__text">
          However, as life often takes unexpected turns, I am no longer part of
          loak.studio since September. But with every challenge comes an
          opportunity, and I'm now eagerly seeking new horizons to contribute my
          expertise and passion for web development.
        </p>
      </div>
    </div>
  </div>
</Main>

<script>
  import { gsap } from "gsap";

  gsap.to(".about__title", {
    y: 0,
    delay: 0,
    duration: 0.1,
  });

  gsap.to("#about-text-1", {
    y: 0,
    duration: 0.1,
    delay: 0.1,
  });

  gsap.to("#about-text-2", {
    y: 0,
    duration: 0.1,
    delay: 0.2,
  });

  gsap.to("#about-text-3", {
    y: 0,
    duration: 0.1,
    delay: 0.4,
  });

  gsap.to("#about-text-4", {
    y: 0,
    duration: 0.1,
    delay: 0.6,
  });
</script>
