---
import Layout from "../layouts/Main.astro";
import Component from "../components/Component.astro";
---

<Layout title="Mathieu Lava">
	<main>
		<h1 class="text-4xl text-yellow-400">Mathieu Lava</h1>
		<Component
			text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ipsa molestiae repudiandae consectetur. Mollitia, enim reprehenderit commodi, debitis, culpa eum fuga accusantium sequi quos suscipit blanditiis veniam pariatur. Veniam, enim."
		/>
	</main>
</Layout>
