---
import Main from "../layout/Main.astro";
---

<Main>
	<h1>Index</h1>
	<p style="font-size: 11px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt adipisci commodi, ullam deleniti incidunt id maiores eos tempore inventore, praesentium rerum necessitatibus modi. Sed, natus quae. Libero cum repellat ea.</p>
</Main>