---
import Main from "../layouts/Main.astro";
import Featured from "../components/Featured.jsx";
import imgHypo from "../assets/hypo.png"
import imgRed from "../assets/red.png"
import imgFolklo from "../assets/folklo.png"

const featuredData = [
	{
		'png': imgHypo,
		'href':"https://hypo-credit.be/"
	},
	{
		'png': imgRed,
		'href':"https://redsystem.io/"
	},
	{
		'png': imgFolklo,
		'href':"https://lafolklorique.be/"
	},

];
---

<Main title="Home">
	<div class="hero-container">
		<div class="hero">
			<div>
				<div class="hero__title-container">
					<h1 class="hero__title-name">Lava Mathieu</h1>
				</div>
				<div class="hero__title-container">
					<h1 class="hero__title-work">web developer</h1>
				</div>
			</div>
			<div class="hero__descriptions">
				<h2 id="hero-description-one" class="hero__description">
					Full-Stack JS/PHP developer in Belgium.
				</h2>
				<h2 id="hero-description-two" class="hero__description">
					Explore the web projects I've worked on, my UNIX rice and
					other oddities.
				</h2>
			</div>
			<div class="hero__contact">
				<a class="hero__contact-btn hero__contact-social--hover" href="mailto:hello@lavam.dev">
					hello@lavam.dev
				</a>
				<div class="hero__contact-socials">
					<a class="hero__contact-btn--mobile hero__contact-social--hover" href="mailto:hello@lavam.dev">
						Email
					</a>
					<a class="hero__contact-social hero__contact-social--hover"
						href="https://github.com/lavaqq">Github</a>
					<a class="hero__contact-social hero__contact-social--hover"
						href="https://www.linkedin.com/in/mathieulava/">Linkedin</a>
				</div>
			</div>
		</div>
		<Featured data={featuredData} client:load />
	</div>
</Main>

<script>
	import { gsap } from "gsap";
	
	function triggerGSAPAnimation() {
		const screenWidth = window.innerWidth;
		const commonAnimations = [
			gsap.to('.hero__title-name', {
				y: 0,
				delay: 0.1,
				duration: 0.1,
			}),
			gsap.to('.hero__title-work', {
				y: 0,
				delay: 0.2,
				duration: 0.1,
			}),
			gsap.to('.hero__descriptions', {
				opacity: 1,
				duration: 0.8,
				delay: 0.7,
				ease: "ease-in-out",
			}),
			gsap.to(".hero__contact-btn, .hero__contact-socials", {
				y: 0,
				delay: 0.6,
				duration: 0.1,
			})
		];
		if (screenWidth <= 1380) {
			commonAnimations.push(
				gsap.to(".featured,.featured__title", {
					y: 0,
					delay: 0.6,
					duration: 0.4,
				})
			);
		} else {
			commonAnimations.push(
				gsap.to(".featured", {
					x: 0,
					delay: 0.8,
					duration: 0.4,
				})
			);
		}
		gsap.timeline().add(commonAnimations);
	}

	triggerGSAPAnimation();
	window.addEventListener('resize', triggerGSAPAnimation);
</script>