---
import Main from "../layouts/Main.astro";

const projects = [
  {
    title: "Hypo-Crédit",
    href: "https://hypo-credit.be/",
  },
  {
    title: "REDSYSTEM",
    href: "https://redsystem.io/",
  },
  {
    title: "La Folklorique",
    href: "https://lafolklorique.be/",
  },
  {
    title: "BOTALYS",
    href: "https://botalys.com",
  },
  {
    title: "VEIGA MANAGEMENT",
    href: "https://veiga-management.com",
  },
  {
    title: "L'Atelier du Carreleur",
    href: "https://atelier-du-carreleur.com",
  },
];
---

<Main title="Projects">
  <div class="projects">
    <div class="projects__title-container">
      <h1 class="projects__title">projects</h1>
    </div>
    <div class="projects__texts">
      <div class="projects__text-wrapper">
        <p class="projects__text">
          While this page still under development, here's a sneak peek at some
          of the exciting web ventures I've been developing on :
        </p>
      </div>
      <ul class="projects__list">
        {
          projects.map((project) => (
            <li class="projects__list-item">
              <a href={project.href} target="_blank">
                {project.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Main>