.about {
  margin: 0 auto;
}

.about__title-container {
  overflow: hidden;
}

.about__title {
  margin-bottom: 48px;
}

.about__texts {
  text-align: justify;
  max-width: 64ch;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media only screen and (max-width: 767px) {
  .about__title {
    margin-bottom: 32px;
  }
}
