.projects {
  margin: 0 auto;
}

.projects__title-container {
  overflow: hidden;
}

.projects__title {
  margin-bottom: 48px;
}

.projects__texts {
  text-align: justify;
  max-width: 64ch;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.projects__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media only screen and (max-width: 767px) {
  .projects__title {
    margin-bottom: 32px;
  }
}
